<section id="destinies-cards" class="container">

    <div class="row">
      <div class="col-md-4 col-sm-6 col-12">
        <a href="destinos/china.html">
          <div class="card col-11 destiny-card">
            <div class="card-body">
              <h4 class="card-title">CHINA</h4>

              <img class="destiny-img col-12" src="Images/chinaCard.jpg" alt="Imagen de la muralla China" />

              <p class="card-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Quod nulla amet, deleniti debitis id sint nostrum ratione
                voluptatibus illum excepturi libero omnis fugit
                necessitatibus inventore expedita quasi non. Id, quod?
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <a href="destinos/milan.html">
          <div class="card col-11 destiny-card">
            <div class="card-body">
              <h4 class="card-title">MILAN</h4>

              <img class="destiny-img col-12" src="Images/milanCard.jpg" alt="Imagen de Milan por la noche" />

              <p class="card-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Quod nulla amet, deleniti debitis id sint nostrum ratione
                voluptatibus illum excepturi libero omnis fugit
                necessitatibus inventore expedita quasi non. Id, quod?
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <a href="destinos/rio.html">
          <div class="card col-11 destiny-card">
            <div class="card-body">
              <h4 class="card-title">RÍO DE JANEIRO</h4>

              <img class="destiny-img col-12" src="Images/rioCard.jpg"
                alt="Imagen de la costa de Rio de Janeiro por la noche" />

              <p class="card-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Quod nulla amet, deleniti debitis id sint nostrum ratione
                voluptatibus illum excepturi libero omnis fugit
                necessitatibus inventore expedita quasi non. Id, quod?
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <a href="destinos/albacete.html">
          <div class="card col-11 destiny-card">
            <div class="card-body">
              <h4 class="card-title">ALBACETE</h4>

              <img class="destiny-img col-12" src="Images/albaceteCard.jpg" alt="Imagen de Albacete nocturna" />

              <p class="card-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Quod nulla amet, deleniti debitis id sint nostrum ratione
                voluptatibus illum excepturi libero omnis fugit
                necessitatibus inventore expedita quasi non. Id, quod?
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <a href="destinos/hawaii.html">
          <div class="card col-11 destiny-card">
            <div class="card-body">
              <h4 class="card-title">HAWAII</h4>

              <img class="destiny-img col-12" src="Images/hawaiiCard.jpg"
                alt="Imagen del amanecer en la playa de Hawaii" />

              <p class="card-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Quod nulla amet, deleniti debitis id sint nostrum ratione
                voluptatibus illum excepturi libero omnis fugit
                necessitatibus inventore expedita quasi non. Id, quod?
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <a href="destinos/praga.html">
          <div class="card col-11 destiny-card">
            <div class="card-body">
              <h4 class="card-title">PRAGA</h4>

              <img class="destiny-img col-12" src="Images/pragaCard.jpg" alt="Imagen de Praga por la noche" />

              <p class="card-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Quod nulla amet, deleniti debitis id sint nostrum ratione
                voluptatibus illum excepturi libero omnis fugit
                necessitatibus inventore expedita quasi non. Id, quod?
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>