<div id="footer-container" class="container-fluid">
    <div class="row container">
      <div class="col-lg-2 col-md-3 col-sm-5 col-8">
        <img class="footer-img" src="/Images/logo.png" alt="Logo de Viajes La Cienaga" />
      </div>
      <div class="col-md-8 col-12 offset-1">
        <ul id="footer-ul">
          <li>
            <a href="mailto:viajeslacienaga@gmail.com">
              <img src="/Images/sobre.png" alt="Icono de mail" class="footer-info-icon" />
              <span id="footer-mail">viajeslacienaga@gmail.com</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/Images/instagram.png" alt="Icono de Instagram" class="footer-info-icon" />
              <span>La Cienaga Travels</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/Images/phone.png" alt="Icono de telefono" class="footer-info-icon" />
              <span>631 13 63 61</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/Images/copyright.png" alt="Icono de copyright" class="footer-info-icon" />
              <span>Todos los derechos reservados</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>